<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body {
    background-image: url("images/blog.jpg");
}
</style>
</head>
<body><font color="skyblue">Search By Title:</font>
<input type="text" ng-model="search.title">
<font color="skyblue">Search By Author</font>
<input type="text" ng-model="search.createdBy.username">
<div class="table-responsive">
<table class="table">
<tr><th><font color="red">Recent Posts</font><th></tr>

<tr ng-repeat="blogPost in blogPosts | orderBy:'date':true | filter:search">

<td><a href="#/getBlogDetail/{{blog.id}}">{{blogPost.title}}</a></td>
<td><font color="skyblue">Created By : {{blogPost.createdBy.username}}</font></td>
<td><font color="skyblue">Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</font></td>

</tr>
</table>
</div>
</body>
</html>