<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body {
    background-image: url("images/blog.jpg");
}
</style>
</head>
<body>
<form>
<table class="table">
<tr><td><font color="skyblue">Enter the title</font></td><td><input type="text" ng-model="blogPost.title"></td></tr>
<tr><td><font color="skyblue">Content</font></td><td><textarea rows="9"  ng-model="blogPost.body"></textarea></td></tr>
<tr><td><input type="submit" ng-click="submit()" class="btn btn-warning"></td></tr>
</table>

</form>
</body>
</html>